.newPost{
border: 1px solid rgba(128, 128, 128, 0.452);
margin: 1rem 5%;
box-shadow:  3px 3px 10px rgba(192, 192, 192, 0.692);
#newPost--header{
    font-size: 30px;
   padding-right: 8rem;
  height: 2rem;
}
}